<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SYB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183A614A1D0E592B00FD5AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183A61631D0E592C00FD5AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183A616E1D0E592C00FD5AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
